<div id='sign-in-form' class='form-div'>
  <h3>Sign In</h3>
  <%= form_tag sessions_path, id: 'login_form' do %>
    <%= label_tag(:email, 'Email:') %>
    <%= text_field_tag(:email, nil) %>
    <%= label_tag(:password, 'Password:') %>
    <%= text_field_tag(:password, nil, type: 'password') %>
    <%= submit_tag "Done", remote: true, id: 'sign-in-button', class: 'submit-button' %>
  <% end %>
  <%= link_to "Go Back", root_path, class: 'button' %>
</div>  