<h1 id='game-title'>Daedalus Opus</h1>

<div id='new-user-form' class='form-div'>
  <h3>Create a User</h3>
  <%= form_for @user do |t| %>
    <%= t.label :name %>
    <%= t.text_field :name %>
    <%= t.label :email %>
    <%= t.text_field :email %>
    <%= t.label :password %>
    <%= t.password_field :password %>
    <%= t.label :password_confirmation %>
    <%= t.password_field :password_confirmation %>
  <% end %>
  <%= link_to "Done", '/create_user', id: 'submit-new-user-button', class: 'button' %>
</div>