<h1 id='game-title'>GameBoy Opus</h1>
<p>Welcome, <%= @user.name %>!</p>

<ul id='level_selection'>
  <% if @user.new_player? %>
    <li class='level_select_li'>
      <%= @user.next_level.solution.read_shape %>
      <%= link_to 'Start a New Game', @user.next_level, class: 'level_select_button' %>
    </li>
  <% else %>
    <% @user.unique_levels.each do |level| %>
      <li class='level_select_li'>
        <%= level.solution.read_shape %>
        <%= link_to "Level #{level.level_number}", level, class: 'level_select_button' %>
      </li>
    <% end %>
    <% if @user.next_level %>
      <li class='level_select_li'>
        <%= @user.next_level.solution.read_shape %>
        <%= link_to 'Continue Your Game!', @user.next_level, class: 'level_select_button' %>
      </li>
    <% end %>
  <% end %>
  <div id='levels_nav_container'>
    <%= link_to "Previous Level", '/previous', id: 'prev', class: 'levels_nav' %>
    <%= link_to "Next Level", '/next', id: 'next', class: 'levels_nav' %>
  </div>
  <%= link_to "Sign Out", '/signout', :method => :delete, :id => 'signout', class: 'button' %>  
</ul>

<%= javascript_include_tag 'level_select' %>