<h1 id='game-title'>GameBoy Opus</h1>
<p>Welcome, <%= @user.name %>!</p>

<ul id='level_selection'>
  <% if @user.new_player? %>
    <li><%= link_to 'Start a New Game', @user.next_level, class: 'button' %></li>
  <% else %>
    <% if @user.next_level %>
      <li><%= link_to 'Continue Your Game!', @user.next_level, class: 'button' %></li>
    <% end %>
    <% @user.available_levels.each do |level| %>
      <li><%= link_to "Level #{level.level_number}", level, class: 'button' %></li>
    <% end %>
  <% end %>
  <%= link_to "Sign Out", '/signout', :method => :delete, :id => 'signout', class: 'button' %>  
</ul>