<h1 id='level_number'>Level <%= @level.level_number %></h1>
<div id='solution_text'></div>
<div id='blocks_text'></div>

<% @blocks.each do |block| %>
  <%= block.read_shape %>
<% end %>

<%= @solution.read_shape %>

<%= javascript_include_tag "levels" %>
<%= javascript_include_tag "levels/level#{@level.level_number}" %>