<div id='status-bar'>
  <%= link_to 'OPUS', root_path, id: 'status-title' %>
  <p id='current_time'>Time: <span id='current_seconds'>999</span> secs</p> 
  <p id='fastest_time'>Best: <%= current_user.best_score(@level) %></p> 
  <%= link_to 'Help!', '#', id: 'help-button' %>
</div>
<h1 id='level_number'>Level <%= @level.level_number %></h1>
<div id='solution_text'></div>
<div id='blocks_text'></div>

<% @blocks.each do |block| %>
  <%= block.read_shape %>
<% end %>

<%= @solution.read_shape %>

<div id='next_level_link'>
  <% if @level.next %>
    <%= link_to "Proceed to the next level", @level.next, class: 'button' %>
  <% else %>
    <%= link_to "Check back soon for more levels!", user_path(current_user), class: 'button' %>
  <% end %>
</div>

<div id='score_form'>
  <%= form_for @score, remote: true do |f| %>
    <%= f.text_field :user_id, value: current_user.id %>
    <%= f.text_field :level_id, value: @level.id %>
    <%= f.text_field :completion_time, id: "comp_time" %>
  <% end %>
</div>

<%= javascript_include_tag "levels" %>
<%= javascript_include_tag "levels/level#{@level.level_number}" %>