<%= render 'status_bar' %>
<%= render 'help' %>

<% @blocks.each do |block| %>
  <%= block.read_shape %>
<% end %>

<%= @solution.read_shape %>

<div id='next_level_link'>
  <% if @level.next %>
    <%= link_to "Proceed to the next level", @level.next, class: 'button' %>
  <% else %>
    <%= link_to "Check back soon for more levels!", user_path(current_user), class: 'button' %>
  <% end %>
</div>

<%= render 'score_form' %>

<%= javascript_include_tag "levels" %>
<%= javascript_include_tag "levels/level#{@level.level_number}" %>